:root{
    --spacing: 10px;
    --color1: rgba(0,0,255,.70);
    --color2: rgba(0,0,255,.4);
    --color-unfolded: yellow;
    --color-opened: green;
    --number-color: red;
}

.cell{
    width: 100px;
    height: 100px;
    //border-style: solid;
    display:table-cell;
}

.row{
    display:table-row;
}

.cell:nth-child(odd){
    background-color: var(--color1);
}

.cell:nth-child(even){
    background-color: var(--color2);
}

/*.cell:nth-child(1){
    background-color: red;
}*/

#canvas{
    //background-color: blue;
    border-style: dashed;
    border-color: red;
    /*width: 100%;
    height: 100%;*/

    display:table;
    border-collapse:separate;
    border-spacing: var(--spacing);
}

.unfolded{
    background-color: var(--color-unfolded) !IMPORTANT;
}

.opened{
    background-color: var(--color-opened) !IMPORTANT;
}

*{
    background-color: black;
    color: white;
}

h1{
    background-color: transparent;
    color: var(--number-color);
    text-align: center;
    padding-top: 10%;
}